body {
    padding: 0;
    margin: 0;
    background-color: rgb(252, 249, 249);
}

ul, ol, li, dl, dt, dd, h1, p, h2, h3 {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

[data-x].show {
    transition: all 2s;
}

[data-x].move {
    transform: translateY(30px);
}

[data-x] {
    transform: translateY(0);
    /* animation: move 0.5s; */
}

@keyframes move {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

/* 加载动画 */

.load {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 9999;
}

.active {
    display: none;
}

.loading {
    width: 100px;
    height: 100px;
}

.loading::before, .loading::after {
    content: "";
    width: 0px;
    height: 0px;
    background-color: #ccc;
    border-radius: 50%;
    animation: loading 1.7s linear infinite;
    margin: 50px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.loading::after {
    content: "";
    animation-delay: 0.7s;
}

@keyframes loading {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 50px;
        height: 50px;
        opacity: 0;
    }
}

/* 加载动画end */

/*清除浮动*/

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/*清除浮动end*/

/*topnav start*/

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.topNavBar {
    font-family: "Hiragino Kaku Gothic Std";
    color: #B7B7B7;
    padding: 20px 0;
    transition: all 0.5s;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.topNavBar.sticky {
    background-color: #fff;
    padding: 10px 0;
    color: #3d4451;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.topNavBar-inner {
    padding: 0 16px;
}

.topNavBar .logo {
    font-size: 24px;
    font-weight: 700;
    float: left;
    padding: 3px 0 4px 0;
}

.topNavBar .logo .logo-l {
    color: #f3b8ec;
}

.topNavBar .logo .logo-r {
    color: #a1a1a1;
}

.topNavBar nav {
    padding-top: 7px;
}

.topNavBar nav>ul {
    float: right;
    position: relative;
}

.topNavBar nav>ul>li {
    float: left;
    margin: 0 17px 0 17px;
    position: relative;
}

.topNavBar nav>ul>li>a {
    color: inherit;
    /*颜色继承*/
    font-weight: 700;
    font-size: 12px;
    padding: 5px 0 5px 0;
    border-top: 3px transparent;
    display: block;
    position: relative;
}

.topNavBar nav>ul>li.appear>a::after, .topNavBar nav>ul>li.highlight>a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 100%-0.15em;
    width: 100%;
    height: 2px;
    background-color: #906D8C;
    animation: navSlide 0.5s;
}

@keyframes navSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.topNavBar .dropDown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    color: #3d4451;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 8px;
    font-size: 12px;
}

.topNavBar .dropDown>li {
    white-space: nowrap;
    margin: 5px 0;
    position: relative;
}

.topNavBar li.appear>.dropDown {
    display: block;
    animation: dropMove 0.5s;
    cursor: pointer;
}

@keyframes dropMove {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0%;
    }
}

/*topnav end*/

/*banner start*/

.banner {
    background-image: url(../images/2018120145115_Suz4t.jpeg);
    height: 515px;
    background-position: center center;
    background-size: cover;
}

.mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.3);
}

/*banner end*/

/*名片开始*/

.userCard {
    max-width: 940px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: -250px;
    position: relative;
}

.userCard-inner {
    padding: 50px;
}

.hello {
    display: inline-block;
    background-color: #906D8C;
    padding: 4px 16px;
    position: relative;
    line-height: 22px;
    margin-bottom: 20px;
}

.square {
    position: absolute;
    display: block;
    border: 10px solid transparent;
    width: 0;
    height: 0;
    border-top-width: 0;
    border-left-color: #906D8C;
    left: 4px;
    top: 100%;
}

.portrait {
    float: left;
}

.introduce {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.introduce hr {
    margin: 20px 0;
}

.introduce dl dt, .introduce dl dd {
    float: left;
}

.introduce dl dt {
    width: 30%;
    padding-bottom: 20px;
    font-weight: 700;
}

.introduce dl dd {
    width: 70%;
    padding-bottom: 20px;
    color: #9a9da2;
}

.media {
    background-color: #906D8C;
    text-align: center;
}

.media a {
    display: inline-block;
    width: 40px;
    padding: 5px 0;
    margin: 16px;
}

.media svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}

/*名片结束*/

/*下载按钮开始*/

.download {
    text-align: center;
}

.download .download-content {
    display: inline-block;
    padding: 21px 55px;
    font-size: 14px;
    line-height: 16px;
    color: #3d4451;
    background-color: #efefef;
    border: 1px solid #cdcfd1;
    border-radius: 2px;
    margin-bottom: 32px;
    margin-top: 80px;
    transition: 0.2s;
}

.download a:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.introbute-content {
    text-align: center;
    margin: 0 0 32px 0;
}

/*下载按钮结束*/

/*技能板块开始*/

.sampleReels>h2, .skill>h2, .message>h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

.skill {
    max-width: 940px;
    margin: 100px auto 0;
}

.skill h3 {
    font-size: 14px;
    line-height: 1.1;
}

.skill ol {
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 20px 50px 10px;
    margin-top: 18px;
}

.skill ol li {
    float: left;
    width: 48%;
    box-sizing: border-box;
    margin: 20px 0;
}

.skill ol li:nth-child(even) {
    float: right;
}

.skill .progressBar {
    height: 5px;
    background-color: #fbeefa;
    border-radius: 2px;
    overflow: hidden;
}

.skill .progress {
    height: 100%;
    background-color: #906D8C;
    width: 50%;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 0.5s;
}

.skill.move .progress {
    transform: translateX(-100%);
}

/*技能板块结束*/

/*作品集开始*/

.sampleReels {
    max-width: 920px;
    margin: 100px auto;
    text-align: center;
}

.sampleReels>h2, .skill h2 {
    margin-bottom: 20px;
}

.swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    height: 200px;
    position: relative;
    overflow: hidden;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
}

.swiper-slide:hover {
    box-shadow: -4px -1px 46px -15px rgba(0,0,0,0.75);
    transition: all 0.8s;
}

.swiper-slide>a {
    height: 210px;
}

.swiper-slide-1 {
    width: 290px;
    height: 30px;
    background-color: #efefef;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.swiper-slide a:hover .swiper-slide-1 {
    display: block;
    transition: all 2s;
}

/*作品集结束*/

/*留言板块开始*/

.message {
    height: 510px;
    overflow: hidden;
}

#postMessageForm {
    text-align: center;
    margin: 20px;
}

#postMessageForm input {
    outline-color: #906D8C;
}

#messageList {
    max-width: 700px;
    margin: 0 auto;
}

#messageList li {
    background-color: #fff;
    height: 50px;
    margin-bottom: 8px;
    border-radius: 3px;
    line-height: 50px;
    padding: 5px;
}

/*留言板块结束*/

/*footer开始*/

.foot {
    height: 50px;
    background-color: #ccc;
    margin-top: 50px;
}

/*footer结束*/

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 215px !important;
}

.swiper-pagination-bullet-active {
    width: 15px !important;
    background-color: #906D8C!important;
}

/*@media (max-width: 418px) {*/
/*    .topNavBar .logo {*/
/*        display: none;*/
/*    }*/

/*}*/